name: Deploy the bot

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            export PNPM_HOME="/home/${{ secrets.VPS_USER }}/.local/share/pnpm"
            export PATH="$PNPM_HOME:$PATH"
            cd /opt/bots/${{ github.event.repository.name }}
            git pull origin main
            pnpm install
            pnpm prod:deploy
